@model CarApp.Core.Domain.Car

<h2>Create Car</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Make:</label>
        <input asp-for="Make" />
    </div>
    <div>
        <label>Model:</label>
        <input asp-for="Model" />
    </div>
    <div>
        <label>Year:</label>
        <input asp-for="Year" />
    </div>
    <div>
        <label>Color:</label>
        <input asp-for="Color" />
    </div>
    <button type="submit">Create</button>
</form>
